@font-face {
    font-family: CircularStd-Black;
    src: url(../fonts/CircularStd-Black.ttf);
}

@font-face {
    font-family: CircularStd-Book;
    src: url(../fonts/CircularStd-Book.otf);
}

@font-face {
    font-family: CircularStd-Medium;
    src: url(../fonts/CircularStd-Medium.otf);
}

@font-face {
    font-family: FreightText-Book;
    src: url(../fonts/FreightText-Book.otf);
}

@font-face {
  font-family: SanFranciscoDisplay-Regular;
  src: url(../fonts/SanFrancisco/SF-Pro-Display-Regular.otf);
}

@font-face {
  font-family: SanFranciscoText-Regular;
  src: url(../fonts/SanFrancisco/SF-Pro-Text-Regular.otf);
}

@font-face {
  font-family: SanFranciscoText-RegularItalic;
  src: url(../fonts/SanFrancisco/SF-Pro-Text-RegularItalic.otf);
}

@font-face {
  font-family: SanFranciscoText-Semibold;
  src: url(../fonts/SanFrancisco/SF-Pro-Text-Medium.otf);
}

@font-face {
  font-family: SanFranciscoText-Bold;
  src: url(../fonts/SanFrancisco/SF-Pro-Text-Bold.otf);
}

@font-face {
  font-family: SanFranciscoRounded-Regular;
  src: url(../fonts/SanFrancisco/SF-Pro-Rounded-Regular.otf);
}

/* Legacy code */

#main-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0.5em;
}

.currencyNames {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 17px;
}

.exchangeRates {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 17px;
}

#selectedCurrency {
  color: Black;
  background-color: White;
  border-color: Black;
}

.dropdown-item {
  text-align: center
}

#currenciesList, #ccyAccsList {
  text-align: center;
}

.currencyListing {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.favCcys, .ccyAccs {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.exchangeRates, .currencyNames {
  vertical-align: bottom;
}

.RoundedButton {
  height: 40px;
  border-radius: 24.5px;
  border: solid 1px #000000;
  background-color: #000000;
  margin-top: 0.8rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.RoundedButtonText {
  margin-top: 8px;
  font-family: CircularStd-Black;
  font-size: 16px;
  letter-spacing: 1.78px;
  color: #ffffff;
}

.cardTitle {
  font-family: CircularStd-Medium;
  font-size: 16px;
  text-align: center;
}

#profileIcon {
  margin-bottom: 5px;
}

.header-item {
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
}

#dashboard-header {
  text-align: right;
  margin-bottom: 0.5rem;
}

#ccyAccsCards {
  width: 90%;
  text-align: center;
}

.mask {
  width: 30%;
  height: 28px;
  border-radius: 12px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  margin-bottom: 0.5rem;
}

#favoriteCcys {
  width: 100%;
  height: 10em;
}

.mask .upper-line, .mask .bottom-line {
  text-align: center;
  font-family: 'CircularStd-Book', monospace;
  font-size: 17px;
}

.ccyNameOnCcyAccCard {
  vertical-align: bottom;
}

.session-title {
  font-family: 'CircularStd-Medium', sans-serif;
  font-size: 20px;
  margin-top: 17px;
  margin-bottom: 6px;
}

.white-button {
  width: 80%;
  margin: auto;
  height: 40px;
  border-radius: 24.5px;
  border: solid 1px #000000;
}

.white-button-text {
  text-align: center;
  margin-top: 8px;
  font-family: CircularStd-Black;
  font-size: 16px;
  letter-spacing: 1.78px;
  color: #000000;
}

#processing-card {
  width: 100%;
  height: 56px;
}

#processing-card-line {
  padding-left: 5%;
  text-align: left;
}

.ccy-accs-masks {
  display: flex;
}

#view-basket-button {
  text-decoration: none;
}

/* New code */

h1 {
  font-family: "SanFranciscoText-Semibold", sans-serif;
  font-size: 1.9em;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-signin {
  width:345px;
  margin:0 auto;
}

.form-group {
  font-family: "SanFranciscoText-Regular", sans-serif;
  font-size: 16px;
  margin-bottom: 1rem;
}

.form-control {
  font-family: "SanFranciscoText-Regular", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  border-radius:8px;
  opacity: 0.4;
  border-color: #0c14337d;
  height:48px;
}

.register-form-wrapper button {
  border-radius:24px;
  width:100%;
  padding:12px;
  margin:20px 0;
}

#t-and-c-warning {
  font-family: "SanFranciscoText-Regular", sans-serif;
  font-size: 11px;
  color: #0c14337d;
  text-align: center;
  margin-top: 1.5rem;
}

#terms-of-use-link {
  font-family: "SanFranciscoText-Semibold", sans-serif;
  font-size: 11px;
  color: black;
}