@font-face {
    font-family: CircularStd-Black;
    src: url(../fonts/CircularStd-Black.ttf);
}

@font-face {
    font-family: CircularStd-Book;
    src: url(../fonts/CircularStd-Book.otf);
}

@font-face {
    font-family: CircularStd-Medium;
    src: url(../fonts/CircularStd-Medium.otf);
}

@font-face {
    font-family: FreightText-Book;
    src: url(../fonts/FreightText-Book.otf);
}

h1 {
    font-family: CircularStd-Medium, sans-serif;
    font-size: 24px;
    text-align: center;
    margin-bottom: 32px;
}

#main-container {
    margin: 2em;
}

.fieldLabel, .form-control {
    font-family: FreightText-Book, sans-serif;
    font-size: 16px;
}

.fieldLabel {
    margin-bottom: 0;
}

.form-control {
    opacity: 0.4;
}

#goToServicesButton, #updateExchangeRates {
    font-family: CircularStd-Medium, sans-serif;
    background-color: #2d2926;
}

.currencyNames {
  font-family: 'Overpass Mono', monospace;
  font-size: 17px;
}

.exchangeRates {
  font-family: 'Overpass Mono', monospace;
  font-size: 17px;
}

#selectedCurrency {
  color: Black;
  background-color: White;
  border-color: Black;
}

.dropdown-item {
  text-align: center
}

#currenciesList {
  text-align: center;
}

.currencyListing {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.exchangeRates, .currencyNames {
  vertical-align: bottom;
}
